/* Application css*/
.navbar-header
{
    width: 15%;
}

/*Login css*/
.panel-primary
{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
    padding-top: 2%;
}
#signin
{
    text-align: center;

}
