body {
    padding-top: 10px;
}

.login .logo {
    margin: 0 auto;
    width: 76px;
    height: 76px;
    display: block;
}

.panel-login {
    margin-top: 25%;
}

.title-buttons-right {
    line-height: 69px;
}
    
.btn btn-primary{
	float: right;
}