<div>
  <h1>Inventar </h1>
</div>
<div class="btn-toolbar">
  <input type="text" name="search" style="float:right" placeholder="Pretraži..">
  <br>
  <br>
  <button class="btn btn-primary" style="float:right">Dodaj inventar</button> 
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sifra</th>
          <th>Naziv</th>
         
          
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Prvi</td>
        
         
           <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
           <td>Prvi</td>
          
        
           <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
           <td>Prvi</td>
       
         
           <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
         <tr>
          <td>4</td>
           <td>Prvi</td>
          
     
           <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
         <tr>
          <td>5</td>
           <td>Prvi</td>
         
          
          <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
         <tr>
          <td>6</td>
           <td>Prvi</td>
          
          
          <td>
            <button>Izmjeni</button>
            <button>Izbrisi</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div >
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

