<div>
  <h1>Inventar </h1>
</div>
<div class="btn-toolbar">
  <input type="text" name="search" style="float:right" placeholder="Pretraži..">
  <br>
  <br>
  <button class="btn btn-primary" style="float:right">Dodaj inventar</button>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sifra</th>
          <th>Naziv</th>


          <th style="width: 36px;"></th>
        </tr>
      </thead>

         <tbody>
             {{#each model.inventories as |inventory i|}}
                 <tr>
                     <td>{{ add i 1 }}</td>
                     <td>{{#highlight-terms filterTerm}} {{ inventory.label }} {{/highlight-terms}}</td>
                     <td>{{#highlight-terms filterTerm}} {{ inventory.name }} {{/highlight-terms}}</td>



                 </tr>
             {{/each}}
         </tbody>

    </table>
</div>
<div >
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

