{{title "Ključevi"}}
<div class="row">
    <div class="col-md-6">
        <h1>Ključevi</h1> </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Rezervisane sale</h3> </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv sale</th>
            <th>Rezervisao</th>
            <th>Vrijeme</th>
            <th>Izdaj ključ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>S0-11</td>
            <td>Otto</td>
            <td>12:00 - 15:00</td>
            <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>S0-11</td>
            <td>Thornton</td>
            <td>12:00 - 15:00</td>
             <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>S0-11</td>
            <td>the Bird</td>
            <td>12:00 - 15:00</td>
             <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-6">
        <h3>Izdati ključevi</h3> </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv sale</th>
            <th>Ključ kod</th>
            <th>Vrijeme</th>
            <th>Vrati ključ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>S0-11</td>
            <td>Otto</td>
            <td>12:00 - 15:00</td>
            <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>S0-11</td>
            <td>Thornton</td>
            <td>12:00 - 15:00</td>
             <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>S0-11</td>
            <td>the Bird</td>
            <td>12:00 - 15:00</td>
             <td>
                <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>